<nav class="main-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/Custom">Custom</a></li>
      <li><a href="/sedam">Sedan</a></li>
      <li><a href="/sport">sport</a></li>
      <li><a href="/suv">SUV</a></li>
      <li><a href="/truck">Truck</a></li>
    </ul>
  </nav>