<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>
    <div class="arrier">
      <div class="content">
        <%- include('partials/header') %>
          <%- include('partials/navigator') %>
            <h2>Batmobile Custom</h2>
            <section class="sect">
                <div class="vehicle">
                    <img src="/images/vehicles/batmobile.jpg" alt="Batmobile detail">
                </div>
                <div class="vehicle">
                    <h3>Batmobile detail</h3>
                    <br>
                    <p class="defaut"><h3>price:</h3>$65,000</p>
                    <br>
                    <p class="defaut"><h4>description:</h4> The Batmobile is the iconic vehicle used by Batman, Gotham City's superhero. Recognizable by its futuristic and aggressive design, it is equipped with cutting-edge technology: reinforced armor, high-powered engines, offensive gadgets (missile launchers, grappling hooks), and exceptional speed capabilities. Each version of the Batmobile reflects Batman's personality: powerful, fast, and mysterious, combining automotive performance and sophisticated weaponry to fight crime. </p>
                    <br>
                    <br>
                    <p class="defaut"><h4>color:</h4>gray</p>
                    <br>
                    <p class="defaut"><h4>miles:</h4>200 and 330 mph (approximately 320 to 530 km/h)</p>
                </div>
            </section>
            <%- include('partials/footers') %>
      </div>
    </div>
  </body>
$
</html>