<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>
    <div class="arrier">
      <div class="content">
        <%- include('partials/header') %>
          <%- include('partials/navigator') %>

            <main>
              <section class="hero">
                <h2>custom vehicle</h2>
                <div class="vehicle-grid">

                  <div class="vehicle">
                    <a href="/batmobile" class="aaa">
                      <img src="/images/vehicles/batmobile.jpg" alt="Batmobile">
                      <h3><a href="#">Batmobile Custom</a></h3>
                      <p>$65,000</p>
                    </a>
                  </div>



                  <div class="vehicle">
                    <a href="/surveillance" class="aaa">
                      <img src="/images/vehicles/survan.jpg" alt="Surveillance Van">
                      <h3><a href="#">FBI Surveillance Van</a></h3>
                      <p>$20,000</p>
                    </a>
                  </div>



                  <div class="vehicle">
                    <a href="#" class="aaa">
                      <img src="/images/vehicles/dog-car.jpg" alt="Dog Car">
                      <h3><a href="#">Dog Car</a></h3>
                      <p>$35,000</p>
                    </a>
                  </div>



                  <div class="vehicle">
                    <a href="#" class="aaa">
                      <img src="/images/vehicles/aerocar.jpg" alt="Adventador">
                      <h3><a href="#">Adventador</a></h3>
                      <p>$80,000</p>
                    </a>
                  </div>


                  <div class="vehicle">
                    <a href="#" class="aaa">
                      <img src="/images/vehicles/monster-truck.jpg" alt="monster truck">
                      <h3><a href="#">monster truck</a></h3>
                      <p>$128,000</p>
                    </a>
                  </div>


                  <div class="vehicle">
                    <a href="" class="aaa">
                      <img src="/images/vehicles/mystery-van.jpg" alt="mystery">
                      <h3><a href="#">mystery</a></h3>
                      <p>$99,000</p>
                    </a>
                  </div>

                </div>


              </section>
            </main>

            <%- include('partials/footers') %>
      </div>
    </div>
  </body>

</html>