<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>
    <div class="arrier">
      <div class="content">
        <%- include('partials/header') %>
          <%- include('partials/navigator') %>

            <main>
              <h2>Welcome to CSE Motors</h2>
              <section class="hero">
                
                <br>
                <div class="vas">
                  <div class="hero-text">
                    <h3>DMC Delorean</h3>
                    <ul>
                      <li>3 cup holders</li>
                      <li>Superman doors</li>
                      <li>Fuzzy dice!</li>
                    </ul>
                    <button>Own Today</button>
                  </div>
                  <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean">
                </div>
              </section>
              <div class="on-page">
                
                
              </div>
              <section class="upgrades-reviews">
                <div class="groupe10">
                  <h3>Delorean Upgrades</h3>
                  <br>
                  <br>
                  <div class="upgrades">
                    <div class="img-pros">
                      <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                    </div>
                    <a class="bleu" href="#">Flux Capacitor</a>
                    
                    <div class="img-pros">
                      <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                    </div>
                    <a class="bleu" href="#">Flame Decals</a>
                    
                  </div>
                  <div class="groupe20">
                    <div class="img-pros">
                      <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                    </div>
                    <a class="bleu" href="#">Bumper Stickers</a>
                    
                    <div class="img-pros">
                      <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                    </div>
                    <a  class="bleu" href="#">Hub Caps</a>
                    
                  </div>
                </div>
                <div class="reviews">
                  <h3>Customer Reviews</h3>
                  
                  <ul>
                    <li>"So fast it's almost like traveling in time" (4/5)</li>
                    <li>"Coolest ride on the road" (4/5)</li>
                    <li>"I'm feeling McFly!" (5/5)</li>
                    <li>"The most futuristic ride of our day" (5/5)</li>
                    <li>"80's livin and I love it!" (5/5)</li>
                  </ul>
                </div>
              </section>
            </main>

            <%- include('partials/footer') %>
      </div>
    </div>
  </body>

</html>