<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>
    <div class="arrier">
      <div class="content">
        <%- include('partials/header') %>
          <%- include('partials/navigator') %>
            <h2>FBI Surveillance Van</h2>
            <section class="sect">
                <div class="vehicle">
                    <img src="/images/vehicles/survan.jpg" alt="survan">
                </div>
                <div class="vehicle">
                    <h3>FBI Surveillance Van detail</h3>
                    <br>
                    <p class="defaut"><h3>price:</h3>$20,000</p>
                    <br>
                    <p class="defaut"><h4>description:</h4> The FBI Surveillance Van is a discreet vehicle, often a van-style vehicle, used to conduct surveillance operations without being detected. It is designed to remain undetected while being equipped with advanced technology for listening, observation, or recording. </p>
                    <br>
                    <br>
                    <p class="defaut"><h4>color:</h4>BROWN</p>
                    <br>
                    <p class="defaut"><h4>miles:</h4>Between 10,000 and 50,000 miles (16,000 to 80,000 km)</p>
                </div>
            </section>
            <%- include('partials/footers') %>
      </div>
    </div>
  </body>
$
</html>