<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <div class="arrier">
            <div class="content">
                <%- include('partials/header') %>
                    <%- include('partials/navigator') %>

                        <main>
                            <section class="hero">
                                <h2>suv vehicle</h2>
                                <div class="vehicle-grid">
                                        <div class="vehicle">
                                            <a href="#">
                                              <img src="/images/vehicles/wrangler.jpg" alt="wrangler">
                                              <h3><a href="#">jeep wrangler</a></h3>
                                              <p>$28,045</p>
                                            </a>
                                        </div>
                                    
                                </div>
                            </section>
                        </main>

                        <%- include('partials/footers') %>
            </div>
        </div>
    </body>

</html>