<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <div class="arrier">
            <div class="content">
                <%- include('partials/header') %>
                    <%- include('partials/navigator') %>

                        <main>
                            <section class="hero">
                                <h2>truck vehicle</h2>
                                <div class="vehicle-grid">

                                    <div class="vehicle">
                                        <a href="#">
                                            <img src="/images/vehicles/escalade.jpg" alt="escalade">
                                            <h3><a href="#">cadillac escalade</a></h3>
                                            <p>$75,195</p>
                                        </a>
                                    </div>


                                    <div class="vehicle">
                                        <a href="#">
                                            <img src="/images/vehicles/hummer.jpg" alt="hummer">
                                            <h3><a href="#">GM hummer</a></h3>
                                            <p>$48,800</p>
                                        </a>
                                    </div>


                                    <div class="vehicle">
                                        <a href="#">
                                            <img src="/images/vehicles/fire-truck.jpg" alt="spartan fire truck">
                                            <h3><a href="#">spartan fire truck</a></h3>
                                            <p>$417,650</p>
                                        </a>
                                    </div>

                                </div>
                            </section>
                        </main>

                        <%- include('partials/footers') %>
            </div>
        </div>
    </body>

</html>