<!-- views/errors/500.ejs -->
<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <%- include('../partials/navigation') %>
  <main>
    <h1>Server Error</h1>
    <p>Something went wrong on our end. Please try again later.</p>
  </main>
  <%- include('../partials/footer') %>
</body>
